<h2 class="center header">Edit profile</h2>
<% if is_errors? %>
    <div class="row red lighten-3 valign-wrapper">
      <div class="col s1 center hide-on-med-and-down">
        <i class="mdi-alert-error prefix medium"></i>
      </div>
      <div class="col s11 m12">
        <h5><%= error_messages_header! %></h5>
        <%= error_messages_content! %>
      </div>
    </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <%= render 'form' %>
    </div>
  </div>
</div>