<div class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <h3>Next steps</h3>
          <ul>
            <li>
              <% if @cur_user.profile.is_confirmed %>
                  <i class="green-text mdi-action-done"></i>
                    t('accept_rules_and_confirm')
              <% else %>
                  <span>1)</span>
                  <%= link_to t('accept_rules_and_confirm'), edit_user_registration_path %>
              <% end %>
            </li>
            <li>
              <% if @cur_user.group %>
                  <i class="green-text mdi-action-done"></i> Create a group of find a group
              <% else %>
                  2) <%= link_to 'Create a group', new_group_url %> or <%= link_to 'find a group', groups_url %>
              <% end %>

            </li>
          </ul>
        </div>
      </div>
  <div class="row">
      <%= image_tag 'poster.jpg', alt: 'HUJI Hackathon 2015', class: 'col s6 offset-s3'%>
  </div>
</div>
