<div class="container">
  <h3 class="center">HUJI Hackathon 2015 rules</h3>
  <h5>Teams</h5>
  <p>Teams can be anywhere from one to five members. All members must be builders (a Developer or Designer). You can sign up with an organized group in advance or find one using our website.</p>
  <h5>Code, Design, SFX, Music, etc</h5>
  <p>To ensure a level field for all contestants, all code, design, art, music, SFX, and assets must be created during the duration of the Hackathon. We want to ensure that all participants start off on the same footing and we also want to preserve the true nature of a hackathon. You are, however, free to make plans, create wireframes, and brainstorm prior to the event. The only exception to this rule would include material that is freely available to the public. Some examples of this would be: public domain images, creative commons music, open source libraries. We take this rule very seriously for the sake of all members attending the event. Failure to comply may result in the offending team's disqualification.</p>
  <p>If your team qualifies for prizes or is in the top five, the team will be subject to a code review to verify that there was no foul play.</p>
  <h5>APIs, Services, and Open Source</h5>
  <p>The exception to the above rule is that you are encouraged to use 3rd party services, APIs, open source projects, libraries, and frameworks. Let's face it, we need all the help we can get during the hectic event. There's no need to break DRY rules when there are so many great resources available to all Hackers.</p>
  <h5>Ownership</h5>
  <p>All teams retain full ownership of what they have created during the Hackathon. HUJI hackathon is here to help entrepreneurs realize their dreams, not destroy them.</p>
  <h5>Be Respectful</h5>
  <p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and racist, sexist, or exclusionary jokes are not appropriate for this event*.</p>
  <p>* Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
  <h5>Be Thoughtful</h5>
  <p>In the spirit of innovation and inclusiveness, there may be minors participating in the event. Keep this in mind when choosing a location to work, and mention to the organizers that your content is explicit if you’d like to submit for judging. You will be pitching to judges and other attendees after the non-explicit content. You will present your idea to an audience who is explicitly prepared to experience your presentation in a safe and/or designated area.</p>
  <h5>Be Open</h5>
  <p>We welcome attendees from all backgrounds. This event is about increasing the overall amount of innovation, partnership, and engagement in the developer community as well as the Hebrew University and Bezalel Art Academy.</p>
  <h5>Be Awesome & Have Fun</h5>
  <p>Hack, meet new people, get creative, and have a good time. Getting something meaningful done within such a short amount of time can be stressful, but we'd like to encourage everyone to take a break every now and then to relax and enjoy the event.</p>

  <p>**Attendees violating these rules may be asked to leave the Hackathon at the sole discretion of the Hackathon organizers. Thank you for helping make this a welcoming, friendly event for all.</p>
</div>
