<div class="container">
  <h1>Thanks for registering!</h1>
  <h3>You are almost there</h3>
  <p>Although we really want to see as many of you at the Hackathon, we want to create a balanced event of high standards so not every one who registers can participate.</p>
  <p>You will get a message informing you either way soon.</p>
  <p>Please notice that everyone gets this message, and that we take in account the date of registration.</p>
  <p>Hope to see you soon,</p>
  <p>2015 HUJI Hackathon team</p>
</div>